* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.4rem rgba(67, 36, 1, 0.5); */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Dancing Script", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/background_6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.hide {
  display: none;
}

.background-1 {
  background-color: #fff;
}

.background-2 {
  background-color: #272727;
}

.heading-color-1 {
  color: #fff;
}

.heading-color-2 {
  color:#272727
}



.main {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 2.3rem 12.6rem;
  /* padding: 0 15px; */
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: #fdf2e9; */
  height: 9.6rem;
  padding: 0 4.6rem;
  align-items: center;
  /* width: 1200px; */
  /* max-width: 80rem; */
  position: relative;
}

.rounded-borders {
  border-radius: 14px;
}

.logo {
  margin-top: 3.6rem;
  height: 15.6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c67f43;
}

.switch-buttons {
  display: flex;
  gap: 6.4rem;
  justify-content: center;
}

.btn-radu,
.btn-laura {
  font-size: 3.2rem;
  display: inline-flex;
  align-items: center;
  color: #fff;
}

.active {
  color: #fdf2e9;
}

.btn-radu:hover,
.btn-laura:hover {
  cursor: pointer;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #272727;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c67f43;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.modal-title {
  font-size: 2.6rem;
}

/* .subheading {

  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #e67e22;
} */

.section-hero {
  /* background-color: #fdf2e9; */

  /* background-image: url(./images/background_2.jpg); */
  padding: 4.8rem 0 9.6rem 0;
  margin-bottom: 3.2rem;
}

.hero {
  display: flex;
  /* max-width: 130rem; */
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
  justify-content: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.active-btn,
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 13px;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn--full {
  margin-bottom: 3.2rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: #272727;
  color: #fff;
}

.btn--form {
  color: #272727;
  padding: 1.2rem;
  background-color: #fff;
}

.btn--close-modal {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 13px;
  background-color: #c67f43;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.btn--full:hover,
.btn--full:active {
  background-color: #4e4d4d;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.locatie {
  padding: 2.4rem;
  margin-bottom: 3.2rem;
}

#map {
  height: 500px;
  width: 100%;
  border: 5px solid #ddd;
  border-radius: 8px;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.section-povestea-noastra,
.section-despre-noi {
  padding: 9.6rem 0;
  /* background-color: #c67e43ce; */
  /* background-color: #a06552bb; */
  margin-bottom: 3.2rem;
  /* background-image: url(./images/background_4.jpg);S */
}

.countdown-container {
  margin: 2em auto;
  padding: 1em;
  /* background-color: #fafafa; 
  border: 1px solid #f0f0f0;  */
  border-radius: 15px;
  justify-content: center;
}
#countdown {
  font-size: 2rem;
  color: #333;
  border-radius: 10px;
  display: inline-block;
  margin: 2rem 0;
  text-align: center;
}

.step-img {
  width: 40%;
}

.program,
.locatie-text {
  text-align: center;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nume-miri {
  font-size: 7.8rem;
  font-weight: 600;
  color: #fff;
}
.cine-sunt-mirii,
.descriere-miri {
  margin-bottom: 2.8rem;
  color: #fff;
}

.povestea-noastra-text,
.descriere-miri {
  font-size: 2.3rem;
  margin-top: 1.4rem;
}

.povestea-noastra-title,
.cine-sunt-mirii {
  text-align: center;
  display: block;
}

.date {
  font-size: 2.3rem;
}

.section-cta {
  margin-bottom: 3.2rem;
  padding: 9.6rem 0;
}

.cta {
  /* background-color: #fdf2e9; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* height: 50rem; */
}

.cta-img-box {
  background-image: linear-gradient(
      to left,
      rgba(230, 125, 34, 0.3),
      rgba(235, 151, 78, 0.3)
    ),
    url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #fff;
  font-size: 1.6rem;
}

.cta{
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  gap: 1.2rem;
}

.cta-form label {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 0.4rem;
  /* font-family: inherit; */
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.adulti-copii {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-gallery {
  margin-bottom: 2.4rem;
  padding-bottom: 6.4rem;
  padding-top: 2.4rem;
}

.photo-description {
  color: #272727;
  margin-top: 2.4rem;
  font-size: 2.6rem;
  text-align: center;
}

.gallery-heading {
  grid-column: span 4;
}

.gallery-item {
  overflow: hidden;
  box-shadow: 10px 10px 15px 5px;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.btn--gallery {
  grid-column: 4;
  font-family: sans-serif;
}
.active-btn {
  color: #272727;
  background-color: #fff;
}

.modal-contact-name a {
  text-decoration: none;
}

/* General Carousel Styles */
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  width: 90%;
  height: 90vh;
}

/* Carousel Indicators */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Carousel Controls */

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
